body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

#gameArea {
  width: 90vw;
  height: 60vh;
  margin: auto;
  border: 3px solid black;
  position: relative;
  background: #ddd;
}

.square {
  width: 45px;
  height: 45px;
  position: absolute;
  border-radius: 10px;
}

.real { background: red; }
.fake { background: blue; }

#options, #topPanel {
  margin: 10px;
  padding: 10px;
  border: 2px solid #000;
  background: #fff;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}
