body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 10px;
}

#gameArea {
  width: 95vw;
  height: 60vh;
  margin: auto;
  border: 3px solid black;
  position: relative;
  background: #f2f2f2;
}

.square {
  width: 44px;
  height: 44px;
  position: absolute;
  border-radius: 10px;

  touch-action: none;
  user-select: none;
}

#comboMsg {
  font-weight: bold;
  color: darkred;
  height: 24px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
}
