body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#gameArea {
  width: 95vw;
  height: 60vh;
  margin: auto;
  border: 3px solid black;
  position: relative;
  background-color: #f2f2f2;
  touch-action: manipulation;
}

.square {
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
  border-radius: 12px;
}

.real {
  background-color: red;
}

.fake {
  background-color: blue;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
}

#endMsg {
  font-weight: bold;
  margin-top: 10px;
}
